In [2]:
2+2

4

Modulo or "Mod" Operator

Temparture in fahrenheit

In [1]:
celsius = [0,10,20,30,40]

In [4]:
fahrenheit = [((9/5)*temp +32) for temp in celsius]

In [5]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

In [7]:
for x in range(0,11):
    if x%2 ==0:
        print("Even")
    else:
        print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [9]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [10]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

Assignment

In [11]:
st = 'Print only the words that starts with s in this sentence'

In [12]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'starts',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [13]:
for word in st.split():
    print(word)

Print
only
the
words
that
starts
with
s
in
this
sentence

In [16]:
for word in st.split():
    if word[0] == 's':
        print(word)

starts
s
sentence

Functions

In [1]:
def say_hello_to_name(name):
    print(f'Hello {name}')

In [3]:
say_hello_to_name('Rushikesh')

Hello Rushikesh

In [4]:
def add_num(num1,num2):
    return num1+num2

In [5]:
result = add_num(2,3)
print(f'the result is {result}')

the result is 5