<a href="https://colab.research.google.com/github/piserushikesh/Gen_AI_Training/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series

In [1]:
import pandas as pd

x = [3,4,5,6,7,8]

var = pd.Series(x)
print(var)
print(type(var))

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>

Index changing

In [3]:
x = [3,4,5]

var = pd.Series(x,index=['a','b','c'],dtype='float',name='python')
print(var)

a    3.0
b    4.0
c    5.0
Name: python, dtype: float64

In [6]:
dc = {"name":['python','java','c++'],"por":[12,13,14],"rank":[1,2,3,4]}

var1 = pd.Series(dc)
print(var1)
print(type(var1))

name    [python, java, c++]
por            [12, 13, 14]
rank           [1, 2, 3, 4]
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
s1 = pd.Series(12,index=[1,2,3,4,5,6,7,8])
s2 = pd.Series(12,index=[1,2,3,4])

print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

Dataframe

In [9]:
l = [1,2,3,4,5]

var2 = pd.DataFrame(l)
print(var2)
print(type(var2))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [10]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}

var1 = pd.DataFrame(d)
print(var1)

   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

for showing perticular column

In [11]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}

var1 = pd.DataFrame(d,columns=["a"])
print(var1)

   a
0  1
1  2
2  3
3  4
4  5

In [12]:
print(var1["a"][3])

4